html {
  box-sizing: border-box;
  background-color: #dbd6d0;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", serif;
  color:#fff;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  padding: .5em;
}

ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  padding: 0.75em;
  background-color: #713837;
  border-radius: 4px;

}

.buttons li {
  display: inline-block;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
}

a:hover {
  background-color: #f33;
}
