html {
  box-sizing: border-box;
  background-color: #dbd6d0;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Bevan', cursive;
  color:#fff;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  padding: .5em;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.75em;
  background-color: #713837;
  border-radius: 4px;

}

.buttons li {
  margin: 0.3em;
  display: inline-block;
}

body {
  margin: 0;
}

header {
  background-color: #79766f;
}

a:hover {
  background-color: #f33;
}
