html {
  box-sizing: border-box;
  background-color: #dbd6d0;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Bevan', cursive;
  color:#fff;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}
